// Main App SASS
.content-wrapper {
    padding: 20px;
    background: scroll;
    width: 100%;
    min-height: 600px !important;

    h1 {
        margin-bottom: 2rem;
    }

    .table {
        width: 920px;
    }
}